[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-jwt = "*"
django-cors-headers = "*"
channels = "*"
channels_redis = "*"
cryptography = "*"
psycopg2-binary = "*"
gunicorn = "*"
j-crypto = "*"
cachedprop = "*"

[dev-packages]
ipython = "*"
ipdb = "*"
flake8 = "*"
mypy = "*"
codecov = "*"
coverage = "*"
django-extensions = "*"

[requires]
python_version = "3.7"
